body {
  background-color: rgb(239, 239, 237);
  font-family: 'Roboto', 'Noto Sans SC', sans-serif;
  margin: 0 0 2vmin 0;
  white-space: pre-line;
}
.clear {
  clear: both;
}
.content-padding {
  height: 64px;
}
.card {
  background-color: white;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 0.550087px 2.4261px,
    rgba(0, 0, 0, 0.24) 0px 1.01372px 2.32903px;
  border-radius: 6px;
  color: black;
  margin: 2vmin auto 0 auto;
  max-width: 90vmin;
  padding: 3vmin;
  width: 801px;
}
.header-container {
  position: absolute;
  top: 100%;
  width: 100%;
  >.header {
    line-height: 66px;
    margin: 0 auto 0 auto;
    max-width: 90vmin;
    width: calc(801px + 4vmin);
    >span {
      font-size: 28px;
      &.clickable {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.button {
  border: 2px solid white;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 4vmin;
  height: 8vmin;
  line-height: 7.5vmin;
  padding-left: 1.5vmin;
  transition: background-color 0.2s, color 0.2s;
  user-select: none;
  width: 26vmin;
  >span, >i {
    font-size: 3.9vmin;
    margin-right: 1vmin;
  }
  >i {
    transform: translateY(0.6vmin);
  }
  &:hover {
    background-color: white;
    color: rgb(64, 64, 64);
  }
}
.cover {
  background: linear-gradient(140deg, #707a91 0%,#36425f 80%);
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% + 64px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  transition: transform 0.5s;
  &.lifted {
    transform: translateY(calc(-100% + 64px))
  }
  >.landing {
    height: calc(100% - 64px);
    position: relative;
    >.title-container {
      font-family: 'Poiret One', sans-serif;
      position: absolute;
      left: 6vmin;
      bottom: 8vmin; 
      user-select: none;
      h1 {
        font-size: 22vmin;
        font-weight: bold;
        margin: 0;
      }
      h2 {
        font-size: 6.2vmin;
        margin: 0;
        margin-top: -3vmin;
      }
    }
    >.privacy-notice {
      font-size: 1.6vmin;
      color: #dddddf;
      position: absolute;
      bottom: 0;
      left: 6vmin;
      width: calc(100% - 9vmin);
      height: 5.5vmin;
    }
    >.button-panel {
      position: absolute;
      left: 41vmin;
      bottom: 8vmin;
      height: 26vmin;
      >.button {
        position: absolute;
        &.start {
          left: 0;
          top: 0;
        }
        &.compare {
          left: 0;
          top: 9vmin;
        }
        &.language {
          left: 0;
          top: 18vmin;
        }
        &.import {
          left: 27vmin;
          top: 0;
        }
        &.export {
          left: 27vmin;
          top: 9vmin;
        }
        &.about {
          left: 27vmin;
          top: 18vmin;
        }
      }
    }
  }
}

