doctype html
META
  page lab.sm
html
  head
    meta(name='viewport' content='width=device-width')
    meta(name='author' content='SCLeo')
    link(rel='import' href='html#shared.uniMeta')
    link(href='https://fonts.googleapis.com/css?family=Poiret+One|Roboto' rel='stylesheet')
    link(href='https://fonts.googleapis.com/earlyaccess/notosanssc.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet' href='./general.scss')
    link(rel='stylesheet' href='./content.scss')
    title SM Contract
  body
    #root
    script(src='./external/polyfill.js')
    script(src='./entry.js')